/* Gerais */
body {
  font-family: 'Poppins', sans-serif;
}

.row {
  Margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */

.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #444;
}

/* header,
.navbar {
  background-color: #FFF;
}


.nav-item:hover {
  background-color: #3EC1D5;
  border-radius: 20px;
  border: 2px solid transparent;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 200px;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

.navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
} */

/* Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 90vh
}

.carousel-item img {
  opacity: 0.5;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 100px;
}

.main-btn {
  background-color: hsl(193, 50%, 56%);
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  text-decoration: none;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #3EC1D5;
}

.carousel-indicators .active {
  background-color: hsl(193, 50%, 56%);
}

/* Sobre a empresa */

#about-area {
  background-color: #F9F9F9;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #65DAF9;
  margin-right: 15px;
}

.div-text-solution {
  text-align: justify;
  font-size: 18px;
}

/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i,
.service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover>i,
.service-box:hover>h4 {
  color: #65DAF9;
}

/* .cards-solutions .icon-file {
  opacity: 0.5;
}

//Efeito de passar o mouse 
.cards-solutions .icon-file:hover {
  opacity: 1;
} */

.div-icons-solutions {
  text-align: center;
  border-radius: 10px;
  padding: 50px;
}


.div-icons-solutions h3 {
  margin-top: 16px;
}

.div-icons-solutions:hover {
  background-color: #3EC1D5;
}

/* //padding e margin */

/* diferença entre px, vw e vh, rem, em e %  */

/* .CLASSES : 
  seletores geralmente usados para grupos de elemntos que compartilham os mesmos estilos */

/* #IDS
  seletores únicos e só podem ter um por pagina */

/* //Rogerio */


/* Dados */

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/* Time */

.card-body {
  text-align: center;
}

/* Portfólio */

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active,
#portfolio-area .filter-btn:hover {
  color: #FFF;
  border: 1px solid #65DAF9;
  background-color: #65DAF9;
}

/* News Letter */

#news-area {
  text-align: center;
  background-color: #F9F9F9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #65DAF9;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #65DAF9;
  background-color: #65DAF9;
  color: #FFF;
  text-transform: uppercase;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: .5s;
}

#news-btn:hover {
  background-color: #FFF;
  color: #65DAF9;
}

/* Call To Action */

#call-area {
  background-color: #5c7e88;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  display: inline;
}

#call-area #call-btn {
  background-color: #FFF;
  color: #65DAF9;
  font-weight: bold;
  margin-left: 30px;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
}

/* Footer */

#contact-area {
  text-align: center;
}

#contact-area .container-contact-box {
  padding: 70px 0 0 0;
}

.contact-box p{
  padding-bottom: 50px; 
}

.contact-box p{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}

.contact-box i {
  color: #444;
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #3EC1D5;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"],
#contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #3EC1D5;
}

/* Copy */

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3EC1D5;
}

.carousel-item img {
  filter: blur(3px) brightness(0.8) hue-rotate(#fff);

}

.carousel-item h2,
.carousel-item p {
  color: #333;
}

/* responsive */
@media(max-width: 768px) {

  /* geral */
  .container {
    padding: 20px 0;
  }

  /* slider */
  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }

  /* about */
  #about-area img {
    margin-top: 100px;
  }

  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }

  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p,
  #call-area #call-btn {
    font-size: 16px;
  }

}


@media(max-width: 425px) {

  /* slider */
  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {

    font-size: 14px;
  }

  /* about */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* data */
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* filter */
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }

  /* news */
  #news-area .main-title {
    font-size: 24px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p,
  #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p,
  #call-area #call-btn {
    margin: 0;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


li {
  list-style: none;
}

.navbar a:not([href]):not([tabindex]) {
  color: hsl(193, 50%, 56%);
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  background-color: #fff;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar .nav-menu {
  padding-left: 0;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: hsl(193, 50%, 56%);
  transform: scale(1.1);
}

.hamburguer {
  display: none;
  cursor: pointer;
  color: hsl(193, 50%, 56%)
}

.hamburguer .bar {
  background-color: hsl(193, 50%, 56%)
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

#message {
  height: 200px;
  resize: none;
}

.navbar #logo {
  width: 200px;
}

@media (max-width:1080px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    z-index: 1000;
    left: -100%;
    top: 100px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #b5dde2;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }

  .nav-item .nav-link {
    color: #437f88 !important;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* estilos para o modal de entre em contato conosco */

#modal-contact-us .modal-content {
  background-color: #5c7e88;
}

#modal-contact-us .modal-header {
  border-bottom: none;
}

#modal-contact-us form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#modal-contact-us #send-contact-us {
  border: none;
  border-radius: 8px;
  background-color: #174248;
  display: flex;
  gap: 10px;
  width: max-content;
  align-items: center;
  justify-content: center;
  padding: .5rem .7rem;
}

#modal-contact-us #send-contact-us:hover {
  border: 2px solid #3EC1D5;
  background-color: transparent;
  transform: scale(1.1);
}

#modal-contact-us #send-contact-us img {
  width: 30px;
}

#modal-contact-us #send-contact-us p {
  border: none;
  color: #FFF;
  margin-bottom: 0;
}

#modal-contact-us .modal-header {
  color: #FFF;
}

#modal-contact-us .modal-header img {
  width: 40px;
  margin-right: 10px;
}